@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="three columns poke-list">
        <ul class="poke-list__pokemons">
            <!-- append Pokemon here with JS -->
        </ul>
    </div>
    <div class="nine columns poke-data">
        No Pokemon selected...
    </div>
</div>